Rotator-Rotator-Core.json
[{"id":"2a86f0db.d5cb","type":"tab","label":"Rotator Core","disabled":false,"info":"4800 BAUD\n\nThere are three command frames and one character command:\n\"AM1;\" which means start turning\n“AP1xxx” which means the new heading is xxx\n“AI1;” which means send me your current position\n“;” which means stop the rotor"},{"id":"44545cf7.13e2a4","type":"serial in","z":"2a86f0db.d5cb","name":"Rotator1Receive","serial":"7b3c44e2.7ce33c","x":135,"y":302,"wires":[["1d16294f.a8a6c7","505eec0c.507604","abfd9ef4.5dd41","9b2cafa9.4c59"]],"info":"4800 baud\nsemi colin delimiter"},{"id":"f2ec2fe6.05f23","type":"inject","z":"2a86f0db.d5cb","name":"Query Heading","topic":"","payload":"AI1;","payloadType":"str","repeat":"1","crontab":"","once":true,"onceDelay":"","x":134.5,"y":141,"wires":[["489885fc.f8c28c"]]},{"id":"489885fc.f8c28c","type":"function","z":"2a86f0db.d5cb","name":"AddCRLF","func":"msg.payload = msg.payload+\"\\r\\n\";\nreturn msg;","outputs":1,"noerr":0,"x":393.375,"y":144.8125,"wires":[["2a84135e.7010cc","f8b8f4bd.8eabf8"]]},{"id":"1d16294f.a8a6c7","type":"rbe","z":"2a86f0db.d5cb","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":424.5,"y":337,"wires":[["d417f732.ea1188"]]},{"id":"505eec0c.507604","type":"trigger","z":"2a86f0db.d5cb","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"5","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":409,"y":376,"wires":[["d417f732.ea1188"]]},{"id":"d417f732.ea1188","type":"mqtt out","z":"2a86f0db.d5cb","name":"Rotator1","topic":"Rotator1","qos":"","retain":"","broker":"201e7171.0af3ee","x":635,"y":354,"wires":[]},{"id":"2a84135e.7010cc","type":"serial out","z":"2a86f0db.d5cb","name":"Rotator1Send","serial":"7b3c44e2.7ce33c","x":677,"y":183,"wires":[]},{"id":"8d23cce7.d38bc","type":"mqtt in","z":"2a86f0db.d5cb","name":"","topic":"Rotator1cmd","qos":"2","datatype":"auto","broker":"201e7171.0af3ee","x":125,"y":523,"wires":[["dd74baf5.c8f8b8","eaa6cddc.0cbc1"]]},{"id":"dd74baf5.c8f8b8","type":"function","z":"2a86f0db.d5cb","name":"Build Rotator String","func":"var work = (\"00\"+msg.payload).slice(-3);\nif ( msg.payload == \"stop\" )\n    msg.payload = \";\\r\\n\"\nelse\n    msg.payload = \"AP1\"+work+\";\\r\\n\";\nreturn msg;","outputs":1,"noerr":0,"x":441,"y":516,"wires":[["2a84135e.7010cc","abfd9ef4.5dd41"]]},{"id":"eaa6cddc.0cbc1","type":"delay","z":"2a86f0db.d5cb","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":319.5,"y":571,"wires":[["a09344e.e6039b8"]]},{"id":"a09344e.e6039b8","type":"function","z":"2a86f0db.d5cb","name":"Add Turn","func":"msg.payload = \"AM1;\\r\\n\";\nreturn msg;","outputs":1,"noerr":0,"x":465,"y":568,"wires":[["2a84135e.7010cc","abfd9ef4.5dd41"]]},{"id":"abfd9ef4.5dd41","type":"debug","z":"2a86f0db.d5cb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1000,"y":300,"wires":[]},{"id":"9ee52b4f.dbbc38","type":"udp in","z":"2a86f0db.d5cb","name":"N1MM Rotator UDP","iface":"","port":"12040","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":110,"y":680,"wires":[["7e602830.fd2978"]]},{"id":"f8b8f4bd.8eabf8","type":"debug","z":"2a86f0db.d5cb","name":"","active":false,"console":"false","complete":"false","x":950,"y":60,"wires":[]},{"id":"7e602830.fd2978","type":"xml","z":"2a86f0db.d5cb","name":"","attr":"","chr":"","x":370,"y":680,"wires":[["6bd993da.963eac"]]},{"id":"6bd993da.963eac","type":"function","z":"2a86f0db.d5cb","name":"Parse XML","func":"Rotator = msg.payload;\n\nwork=Rotator.N1MMRotor.goazi;\n\nvar worki = parseInt(work);\n\nmsg.payload = worki;\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":680,"wires":[["4fe5c0b5.68fd7","94fb9fa0.343d3"]]},{"id":"4fe5c0b5.68fd7","type":"mqtt out","z":"2a86f0db.d5cb","name":"","topic":"Rotator1cmd","qos":"","retain":"","broker":"201e7171.0af3ee","x":750,"y":680,"wires":[]},{"id":"94fb9fa0.343d3","type":"ui_text","z":"2a86f0db.d5cb","group":"9e7dbc36.1a2a4","order":11,"width":0,"height":0,"name":"","label":"N1MM cmd ","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":560,"wires":[]},{"id":"9b2cafa9.4c59","type":"trigger","z":"2a86f0db.d5cb","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"2","extend":true,"units":"s","reset":"","bytopic":"topic","name":"","x":420,"y":240,"wires":[["b194072c.71c998"]]},{"id":"b194072c.71c998","type":"ui_led","z":"2a86f0db.d5cb","group":"9e7dbc36.1a2a4","order":1,"width":0,"height":0,"label":"Rotator Data","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"name":"Data","x":650,"y":240,"wires":[]},{"id":"fc914b47.b9dc18","type":"inject","z":"2a86f0db.d5cb","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":240,"wires":[["9b2cafa9.4c59"]]},{"id":"7b3c44e2.7ce33c","type":"serial-port","z":"","serialport":"/dev/ttyUSB2","serialbaud":"4800","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"20","bin":"false","out":"time","addchar":"","responsetimeout":"100"},{"id":"201e7171.0af3ee","type":"mqtt-broker","z":"","name":"","broker":"192.168.110.111","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9e7dbc36.1a2a4","type":"ui_group","z":"","name":"Rotator","tab":"d6ba9a2a.f3f0d8","order":3,"disp":true,"width":"4","collapse":true},{"id":"d6ba9a2a.f3f0d8","type":"ui_tab","z":"","name":"VA3MW Shack Control","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
