Rotator-GUI
[{"id":"7f1fb2f4.a12d3c","type":"tab","label":"Rotator Display","disabled":false,"info":""},{"id":"e03486bc.be8318","type":"ui_button","z":"7f1fb2f4.a12d3c","name":"","group":"9e7dbc36.1a2a4","order":2,"width":"2","height":"2","passthru":false,"label":"EU - 50","tooltip":"","color":"","bgcolor":"","icon":"","payload":"50","payloadType":"num","topic":"","x":226,"y":198,"wires":[["b8e7571.2fd91a8","dbece460.d0d7f8","22a3f1e6.5f6dee"]]},{"id":"b8e7571.2fd91a8","type":"mqtt out","z":"7f1fb2f4.a12d3c","name":"","topic":"Rotator1cmd","qos":"","retain":"","broker":"201e7171.0af3ee","x":575,"y":198,"wires":[]},{"id":"dbece460.d0d7f8","type":"ui_text_input","z":"7f1fb2f4.a12d3c","name":"","label":"HDG","tooltip":"","group":"9e7dbc36.1a2a4","order":10,"width":"3","height":"1","passthru":false,"mode":"text","delay":"0","topic":"","x":236,"y":418,"wires":[["22a3f1e6.5f6dee","b8e7571.2fd91a8"]]},{"id":"22a3f1e6.5f6dee","type":"ui_numeric","z":"7f1fb2f4.a12d3c","name":"","label":"HDG","tooltip":"","group":"9e7dbc36.1a2a4","order":9,"width":"3","height":"1","passthru":false,"topic":"","format":"{{value}}","min":0,"max":"360","step":"5","x":235,"y":475,"wires":[["b8e7571.2fd91a8","dbece460.d0d7f8","a179f201.fc6c1"]]},{"id":"74c4771b.a177e8","type":"ui_button","z":"7f1fb2f4.a12d3c","name":"","group":"9e7dbc36.1a2a4","order":6,"width":"2","height":"2","passthru":false,"label":"JA - 330","tooltip":"","color":"","bgcolor":"","icon":"","payload":"330","payloadType":"num","topic":"","x":226,"y":278,"wires":[["b8e7571.2fd91a8","dbece460.d0d7f8","22a3f1e6.5f6dee"]]},{"id":"a04f41ec.b1893","type":"ui_button","z":"7f1fb2f4.a12d3c","name":"","group":"9e7dbc36.1a2a4","order":3,"width":"2","height":"2","passthru":false,"label":"SA - 150","tooltip":"","color":"","bgcolor":"","icon":"","payload":"150","payloadType":"num","topic":"","x":226,"y":318,"wires":[["b8e7571.2fd91a8","dbece460.d0d7f8","22a3f1e6.5f6dee"]]},{"id":"deff2015.09f9f","type":"ui_button","z":"7f1fb2f4.a12d3c","name":"","group":"9e7dbc36.1a2a4","order":4,"width":"2","height":"2","passthru":false,"label":"US -  200","tooltip":"","color":"","bgcolor":"","icon":"","payload":"200","payloadType":"num","topic":"","x":226,"y":238,"wires":[["b8e7571.2fd91a8","dbece460.d0d7f8","22a3f1e6.5f6dee"]]},{"id":"88460fee.645ce","type":"ui_button","z":"7f1fb2f4.a12d3c","name":"","group":"9e7dbc36.1a2a4","order":5,"width":"2","height":"2","passthru":false,"label":"VK - 300","tooltip":"","color":"","bgcolor":"","icon":"","payload":"300","payloadType":"num","topic":"","x":236,"y":364,"wires":[["b8e7571.2fd91a8","dbece460.d0d7f8","22a3f1e6.5f6dee"]]},{"id":"e334896b.37e748","type":"ui_button","z":"7f1fb2f4.a12d3c","name":"","group":"9e7dbc36.1a2a4","order":8,"width":"2","height":"2","passthru":false,"label":"STOP!","tooltip":"","color":"","bgcolor":"","icon":"","payload":"stop","payloadType":"str","topic":"","x":231,"y":578,"wires":[["b8e7571.2fd91a8"]]},{"id":"d9357f64.b6634","type":"mqtt in","z":"7f1fb2f4.a12d3c","name":"","topic":"Rotator1","qos":"2","datatype":"auto","broker":"201e7171.0af3ee","x":222.5,"y":135.1500015258789,"wires":[["3c4de0b0.02f45"]]},{"id":"b2e70b12.1ad948","type":"ui_gauge","z":"7f1fb2f4.a12d3c","name":"Compass","group":"9e7dbc36.1a2a4","order":7,"width":"4","height":"3","gtype":"compass","title":"Heading","label":"Deg","format":"{{value}}","min":0,"max":"360","colors":["#00b500","#f5eb00","#ca3838"],"seg1":"1500","seg2":"1700","x":754,"y":132,"wires":[]},{"id":"3c4de0b0.02f45","type":"rbe","z":"7f1fb2f4.a12d3c","name":"","func":"deadband","gap":"3%","start":"","inout":"out","property":"payload","x":552.5,"y":129,"wires":[["b2e70b12.1ad948","a73ee92e.f9b408","dfb3785b.413f68"]]},{"id":"a73ee92e.f9b408","type":"google_chart-gauge","z":"7f1fb2f4.a12d3c","name":"rotator","label":"","class":"","parent":"","width":"100%","height":"","topic":"","min":0,"max":"360","majorTicks":"45","minorTicks":"5","greenFrom":"","greenTo":"","greenColor":"#109618","yellowFrom":"","yellowTo":"","yellowColor":"#ff9900","redFrom":"","redTo":"","redColor":"#dc3912","x":760,"y":214,"wires":[]},{"id":"dfb3785b.413f68","type":"google_chart-gauge","z":"7f1fb2f4.a12d3c","name":"","label":"","class":"","parent":"","width":"100%","height":"","topic":"","min":0,"max":100,"majorTicks":"","minorTicks":2,"greenFrom":"","greenTo":"","greenColor":"#109618","yellowFrom":"","yellowTo":"","yellowColor":"#ff9900","redFrom":"","redTo":"","redColor":"#dc3912","x":776,"y":305,"wires":[]},{"id":"c9b8778c.537908","type":"inject","z":"7f1fb2f4.a12d3c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":200,"wires":[["e03486bc.be8318"]]},{"id":"a179f201.fc6c1","type":"debug","z":"7f1fb2f4.a12d3c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":820,"y":360,"wires":[]},{"id":"9e7dbc36.1a2a4","type":"ui_group","z":"","name":"Rotator","tab":"d6ba9a2a.f3f0d8","order":3,"disp":true,"width":"4","collapse":true},{"id":"201e7171.0af3ee","type":"mqtt-broker","z":"","name":"","broker":"192.168.110.111","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d6ba9a2a.f3f0d8","type":"ui_tab","z":"","name":"VA3MW Shack Control","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
